{% extends '../layout/layout.html' %}

{% block script %}
{% parent %}
<script>
  var app = app || {};
  app['moduleName'] = "{{ page.moduleName }}";
  app['moduleModel'] = {{ page.moduleModel|raw|json_encode }};
  app['moduleOption'] = {{ page.moduleOption|raw|json_encode }};
</script>
<!-- <script src="/script/dist/module.js"></script> -->
{% endblock %}

{% block style %}
{% parent %}
<style>
.panel-right {
  border-left: solid 1px #f2f2f2;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="col-md-8">
      <h4 class="text-muted">View {{ page.moduleName|capitalize }}</h4>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form name="{{ page.moduleName }}_form" class="form">
        {% for field in page.moduleModel %}
          <div class="form-group">
            <label for="{{ loop.key }}">{{ loop.key }} ({{ field.type }})</label>
            {{ page.webEngine.toViewTag(loop.key, item[loop.key], field, 'form-control') }}
          </div>
        {% endfor %}
      </form>
    </div>
  </div>

</div>
{% endblock %}
