{% extends '../layout/layout.html' %}

{% block script %}
{% parent %}
<script data-main="/library/nessie/capital_one" src="/library/nessie/require-jquery.js"></script>
<script>
$().ready(function() {
  console.log('in nessie index page');
  $('#btnGetAccountInfo').click(function() {
    console.log('clicked account_info');
    var data = {};
    refreshAccountInfo(data);
  });
  function refreshAccountInfo(data) {
    var accountId = '57efe975267ebde464c4899e'; //'57efd2e5267ebde464c4898a';
    var accountLimit = 50000;
    var warnThreshold = 0.5;
    var errorThreshold = 0.9;
    var dataUrl = 'http://api.reimaginebanking.com/accounts/' + accountId + '?key=d9258cbfb78477d7caaa4cd76ab13bda'
    $.get(dataUrl, function(data) {
      console.log('account info received:', data);

      //data.balance = 500; // 9500 / 4000 / 400

      var status = 'good';
      var chargeAmount = accountLimit - data.balance;
      var levelAmountLeft = accountLimit * warnThreshold - chargeAmount;
      if ((1 - data.balance/accountLimit) >= warnThreshold) {
        status = 'warn';
        levelAmountLeft = accountLimit * errorThreshold - chargeAmount;
      }
      if ((1 - data.balance/accountLimit) >= errorThreshold) {
        status = 'error';
        levelAmountLeft = accountLimit - chargeAmount;
      }

      updateIndicator(status);
      if (status == 'warn' || status == 'error') {
        sendMessage(data.account_number, data.balance, status);
      }

      $('#account_info').html(
        '<br/><br/>' +
        //'Spent: $' + chargeAmount + '<br/>' +
        //'Limit: $' + accountLimit + '<br/>' +
        'Safe to spend till next level $' + levelAmountLeft + '<br/>');
      $('#accountNumber').text(getDisplayAccountNumber(data.account_number));

    });
  }
  nessieConnect();
});
function nessieConnect() {
  require(['account', 'customer'], function (account, customer) {
    var apikey = 'd9258cbfb78477d7caaa4cd76ab13bda';
    accountDemo(apikey, account);
    customerDemo(apikey, customer);
  });
}
function accountDemo(apikey, account) {
  console.log('Account Demo');
  var custAccount = account.initWithKey(apikey);
  console.log("[Account - Get All] : Sample Account Nickname: (" + custAccount.getAllAccounts()[0].nickname + ")");
  // getAccountById
}
function customerDemo(apikey, customer) {
  var customerAccount = customer.initWithKey(apikey);
  var customerInfo = customerAccount.getCustomers()[0];
  console.log("[Customer - Get All Customers] : Sample Customer: " + customerInfo.first_name);
  $('#customer').html("Bank Customer: <b>" + customerInfo.first_name + " " + customerInfo.last_name + "</b>");
}
function updateIndicator(status) {
  var indicatorElement = $('#status_icon');
  indicatorElement.removeClass();
  indicatorElement.addClass('glyphicon');
  switch (status) {
    case 'good':
      indicatorElement.addClass('glyphicon-ok-sign');
    break;
    case 'warn':
      indicatorElement.addClass('glyphicon-exclamation-sign');
    break;
    case 'error':
      indicatorElement.addClass('glyphicon-remove-sign');
    break;
  }
}
function getDisplayAccountNumber(value) {
  var result = [];
  for (var i = 0; i < value.length; i++) {
    if (i % 4 == 0) {
      result.push(' ');
    }
    result.push(value[i]);
  }
  return result.join('');
}
function sendMessage(account_number, balance, status) {
  console.log('message on:', account_number, balance, status);
  var messageUrl = 'data/message/send?message=' +
    'your account ' + account_number + ' status is in ' + status;
  $.get(messageUrl, function(data) {
    console.log('message result:', data);
  });
};
</script>
{% endblock %}

{% block style %}
{% parent %}
<style>
.block-image-container {
  height: 250px;
  overflow-y: hidden;
}
img.block-image {
  width:100%;
}
.section-block {
  margin-bottom: 25px;
}
#status_icon {
  padding-left: 20px;
  font-size: 5.0em;
}
#status_icon.glyphicon-ok-sign {
  color: green;
}
#status_icon.glyphicon-exclamation-sign {
  color: orange;
}
#status_icon.glyphicon-remove-sign {
  color: red;
}
.account_number_text {
  color: #999;
  font-size: 2.8em;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-muted">API Data</h4>
      <br/>
      <!-- <p>API Key: {{ page.apidata.key }}<p> -->
      <p>Customer ID: {{ page.apidata.customer_id }}<p>
      <p>Account ID: {{ page.apidata.account_id }}<p>
      <!-- <p>Merchange ID: {{ page.apidata.merchant_id }}<p> -->
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-6 well">
    <div id="status_contianer" style="float:right;min-height:250px;">
      <p id="account_status_light" style="margin-top:15px;margin-right:25px;">Account Status</p>
      <p>
        <i id="status_icon" class=""></i>
      </p>
      <br/><br/>
    </div>
      <h4 class="text-muted">Card Connect</h4>
      <br/>
      <button id="btnGetAccountInfo" class="btn btn-lg btn-success">Get Account Info</button>
      <br/><br/>
      <div id="account_info" style="min-height:110px;font-size:1.6em;color:#000;padding-left:5px;"></div>
      <div class="account_number">
        <p id="accountNumber" class="account_number_text"></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
