{% extends '../layout/layout.html' %}

{% block script %}
{% parent %}
<script data-main="/library/nessie/capital_one" src="/library/nessie/require-jquery.js"></script>
<script>
$().ready(function() {
  console.log('in nessie index page');
  $('#btnGetAccountInfo').click(function() {
    console.log('clicked account_info');
    var data = {};
    refreshAccountInfo(data);
  });
  function refreshAccountInfo(data) {
    var accountId = '57efd2e5267ebde464c4898a';
    //var dataUrl = '/data/nessie/account/' + accountId + '/info';
    var dataUrl = 'http://api.reimaginebanking.com/accounts/' + accountId + '?key=d9258cbfb78477d7caaa4cd76ab13bda'
    $.get(dataUrl, function(data) {
      console.log('account info received:', data);
      $('#account_info').text('Balance: $' + data.balance);
    });
  }
  nessieConnect();
});
function nessieConnect() {
  require(['account', 'customer'], function (account, customer) {
    var apikey = 'd9258cbfb78477d7caaa4cd76ab13bda';
    accountDemo(apikey, account);
    customerDemo(apikey, customer);
  });
}
function accountDemo (apikey, account) {
  console.log('Account Demo');
  var custAccount = account.initWithKey(apikey);
  console.log("[Account - Get All] : Sample Account Nickname: (" + custAccount.getAllAccounts()[0].nickname + ")");
  // getAccountById
}
function customerDemo (apikey, customer) {
  var customerAccount = customer.initWithKey(apikey);
  var customerInfo = customerAccount.getCustomers()[0];
  console.log("[Customer - Get All Customers] : Sample Customer: " + customerInfo.first_name);
  $('#customer').html("Bank Customer: <b>" + customerInfo.first_name + " " + customerInfo.last_name + "</b>");
}
</script>
{% endblock %}

{% block style %}
{% parent %}
<style>
.block-image-container {
  height: 250px;
  overflow-y: hidden;
}
img.block-image {
  width:100%;
}
.section-block {
  margin-bottom: 25px;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-muted">API Data</h4>
      <br/>
      <!-- <p>API Key: {{ page.apidata.key }}<p> -->
      <p>Customer ID: {{ page.apidata.customer_id }}<p>
      <p>Account ID: {{ page.apidata.account_id }}<p>
      <!-- <p>Merchange ID: {{ page.apidata.merchant_id }}<p> -->
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-10">
      <h4 class="text-muted">Account Connect</h4>
      <br/>
      <button id="btnGetAccountInfo" class="btn btn-success">Get Account Info</button>
      <br/><br/>
      <div id="account_info"></div>
    </div>
    <div class="col-md-2">
      <p id="account_status_light">Account Status: <i class=""></i></p>
      <br/><br/>
    </div>
  </div>
</div>
{% endblock %}
