{% extends '../layout/layout.html' %}

{% block script %}
{% parent %}
<script>
$().ready(function() {
  console.log('in nessie index page');
  $('#btnGetAccountInfo').click(function() {
    console.log('clicked account_info');
    var data = {};
    refreshAccountInfo(data);
  });
  function refreshAccountInfo(data) {
    var accountId = '1234567890';
    var dataUrl = '/data/nessie/account/' + accountId + '/info';
    $.get(dataUrl, function(data) {
      console.log('account info received:', data);
      $('#account_info').text('hello ' + accountId);
    });
  }
});
</script>
{% endblock %}

{% block style %}
{% parent %}
<style>
.block-image-container {
  height: 250px;
  overflow-y: hidden;
}
img.block-image {
  width:100%;
}
.section-block {
  margin-bottom: 25px;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-muted">API Data</h4>
      <br/>
      <p>API Key: {{ page.apidata.key }}<p>
      <p>Customer ID: {{ page.apidata.customer_id }}<p>
      <p>Account ID: {{ page.apidata.account_id }}<p>
      <p>Merchange ID: {{ page.apidata.merchant_id }}<p>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-muted">Account Connect</h4>
      <br/>
      <button id="btnGetAccountInfo" class="btn btn-success">Get Account Info</button>
      <br/><br/>
      <div id="account_info"></div>
    </div>
  </div>
</div>
{% endblock %}
